<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>

<title>cryptoExchange</title>
{{ table }}

<div class="btn-row">
  <a href="/sorted-by-usd" class="button6 bouncy" style="animation-delay:0.07s">Sort by USD</a>
  <a href="/sorted-by-market-cap" class="button6 bouncy" style="animation-delay:0.14s">Sort by market cap</a>
  <a href="/" class="button6 bouncy" style="background-color:#c3423f; animation-delay: 0.21s">Reset</a>
</div>

<div class="navbar">
  <ul class="nav-items">
    <a href="/" class="active"><b>Table</b></a>
    <a href="/total"><b>Total value</b></a>
  </ul>
</div>

</body>
</html>
